div {
    width: 120px;
    height: 120px;
    background-color: brown;
animation-name: colorchange;
animation-duration: 5s;
}

@keyframes colorchange
{
    0% {background-color:brown;}
    25% {background-color:blue;}
    50% {background-color:red;}
    75% {background-color:yellow;}
    100% {background-color:yellowgreen;}
    25% {}
}